<footer class="contact" id="contact">
  <h1 class="contact__title">CONTACT</h1>
  <p class="contact__paragraph" [@scrollAnimation]="state">
    I'm seeking out opportunities to work with companies / agencies / individuals.
    <br /><br /> I want to bring my collective design experience to the table where we can work together to solve real business-problems in a way that optimizes all of our respective experience and knowledge.
    <br /><br />I favor open - minded collaborators where egos are out of the equation.
    <br />If that all sounds about right, then lets for sure chat about how we can work together.
    <br /><br />Feel free to reach out through any of the platforms below:
  </p>
  <ul class="list" [@scrollAnimation]="state">
    <li class="list__item ">
      <a href="https://github.com/hanibengozi" target="_blank"><i class="fab fa-github fa-3x "></i></a>
    </li>
    <li class="list__item">
      <a href="http://www.linkedin.com/in/hani-ben-gozi" target="_blank"><i class="fab fa-linkedin-in fa-3x"></i></a>
    </li>
    <li class="list__item">
      <a href="mailto:hanibengozi@gmail.con" target="_blank"><i class="fa fa-envelope fa-3x" aria-hidden="true"></i></a>
    </li>
  </ul>
  &copy; Copyright 2022
</footer>
